/* --------------------------------------------------------
 * Fonts
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Colours
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Mixins
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Form - general. Forms should follow a base style.
 * If there are other form types they should be added to
 * the custom form section.
 * -------------------------------------------------------- */
form fieldset {
  border: 0;
}
form .field {
  margin: 0 0 15px 0;
}
form .field.group {
  float: left;
}
form .field.group input.text {
  margin-right: 10px;
}
form .field label {
  display: block;
  margin: 0 0 2px 0;
}
form .field input.text, form .field textarea, form .field select {
  padding: 4px;
  border: 1px solid #a7a7a7;
  color: #000;
  width: 200px;
}
form .field input.text {
  width: 250px;
}
form .field input.text.small {
  width: 30px;
}
form .field textarea {
  width: 300px;
}
form .field.radio ul.optionset {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
form .field.radio ul.optionset li {
  vertical-align: middle;
  margin-left: 0;
  padding-left: 0;
}
form .field.radio ul.optionset li input {
  display: inline-block;
  margin-right: 5px;
}
form .field.radio ul.optionset li label {
  display: inline-block;
}
form .field.checkbox {
  vertical-align: middle;
}
form .field.checkbox ul {
  list-style-type: none;
}
form .field.checkbox input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
form .field.checkbox label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
form .field.checkbox.two ul {
  float: left;
  width: 150px;
}
form .field.checkbox.three ul {
  float: left;
  width: 150px;
}
form .field.error label {
  color: red;
}
form .field.error input, form .field.error textarea {
  border: 1px solid red;
}
form .field .required {
  color: red;
}
form .field #errorBox li {
  color: red;
}
form .Actions .action {
  color: #333;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
  margin-bottom: 15px;
}
form .Actions .action:hover {
  color: #fff;
}
/* --------------------------------------------------------
 * Custom Form: - search
 * -------------------------------------------------------- */
form#search-form {
  position: absolute;
  top: 40px;
  right: 15px;
}
form#search-form input {
  padding: 5px 3px;
}
form#search-form input.text {
  width: 110px;
}
/* --------------------------------------------------------
 * Custom Form: -
 * -------------------------------------------------------- */