/* --------------------------------------------------------
 * Style includes:
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Mixins
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Base
 * -------------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
::-moz-selection {
  background: #2361A1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #2361A1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
table button, table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td {
  vertical-align: top;
}
/*** Helpers ***/
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden, .accessibility {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*** Additions ***/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
.clear {
  padding: 0;
  margin: 0;
  height: 0;
  clear: both;
  overflow: hidden;
}
.hide {
  display: none;
}
/* --------------------------------------------------------
 * Grid: http://grid.mindplay.dk/
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Structure
 * -------------------------------------------------------- */
.l-center {
  width: 980px;
  position: relative;
  margin: 0 auto;
}
.l-layout .l-center {
  background-color: #fff;
  padding: 20px;
  width: 940px;
}
.l-header {
  background-color: #7b7b7b;
}
.l-header .l-center {
  background-color: #7b7b7b;
  height: 125px;
  position: relative;
}
.l-footer {
  background-color: #9a9a9a;
}
.l-footer .l-center {
  height: 150px;
}
/* --------------------------------------------------------
 * Helpers
 * -------------------------------------------------------- */
/*** Padding ***/
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/*** Margin ***/
.margin-top-0 {
  margin-top: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bot-0 {
  margin-bottom: 0;
}
.margin-bot-10 {
  margin-bottom: 10px;
}
/* --------------------------------------------------------
 * Grid System:
 * Don`t define padding on grids. Each grid to have an inner
 * div where padding can be applied
 * -------------------------------------------------------- */
.l-col1 {
  float: left;
  margin-right: 20px;
  width: 60px;
}
.l-col1.last {
  margin-right: 0;
}
.l-col2 {
  float: left;
  margin-right: 20px;
  width: 140px;
  margin-right: 20px;
}
.l-col2.last {
  margin-right: 0;
}
.l-col3 {
  float: left;
  margin-right: 20px;
  width: 220px;
}
.l-col3.last {
  margin-right: 0;
}
.l-col4 {
  float: left;
  margin-right: 20px;
  width: 300px;
}
.l-col4.last {
  margin-right: 0;
}
.l-col5 {
  float: left;
  margin-right: 20px;
  width: 380px;
}
.l-col5.last {
  margin-right: 0;
}
.l-col6 {
  float: left;
  margin-right: 20px;
  width: 460px;
}
.l-col6.last {
  margin-right: 0;
}
.l-col7 {
  float: left;
  margin-right: 20px;
  width: 540px;
}
.l-col7.last {
  margin-right: 0;
}
.l-col8 {
  float: left;
  margin-right: 20px;
  width: 620px;
}
.l-col8.last {
  margin-right: 0;
}
.l-col9 {
  float: left;
  margin-right: 20px;
  width: 700px;
}
.l-col9.last {
  margin-right: 0;
}
.l-col10 {
  float: left;
  margin-right: 20px;
  width: 780px;
}
.l-col10.last {
  margin-right: 0;
}
.l-col11 {
  float: left;
  margin-right: 20px;
  width: 860px;
}
.l-col11.last {
  margin-right: 0;
}
.l-col12 {
  float: left;
  margin-right: 20px;
  width: 940px;
}
.l-col12.last {
  margin-right: 0;
}
/*** Remove ***/
.decorate {
  color: #fff;
  margin-bottom: 20px;
  background: #f2f2f2;
}
.decorate h3 {
  margin: 0;
}
.l-layout .l-center {
  min-height: 500px;
  height: auto !important;
  height: 500px;
}
/* --------------------------------------------------------
 * Mixins
 * -------------------------------------------------------- */
form fieldset {
  border: 0;
}
form .field {
  margin: 0 0 15px 0;
}
form .field label {
  display: block;
  margin: 0 0 2px 0;
}
form .field input.text, form .field textarea, form .field select {
  padding: 4px;
  border: 1px solid #a7a7a7;
  color: #000;
  width: 200px;
}
form .field input.text {
  width: 215px;
}
form .field textarea {
  width: 300px;
}
form .field .required {
  color: red;
}
form .action {
  background-color: #2361A1;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
  margin-bottom: 15px;
}
form .action:hover {
  background-color: #333;
}
form.search-form {
  position: absolute;
  top: 18px;
  right: 18px;
}
form.search-form input.text {
  border: 1px solid #fff;
  width: 110px;
  padding: 4px;
}
/* --------------------------------------------------------
 * Mixins
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Fonts
 * -------------------------------------------------------- */
@font-face {
  font-family: 'My Font';
  src: url(../fonts/my-font.eot);
  src: local('☺'), url(../fonts/my-font.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------------------------------
 * Variables
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * General
 * -------------------------------------------------------- */
body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  font-size: 12px;
  background: #ccc;
  color: #333;
  line-height: 1;
}
/* --------------------------------------------------------
 * Links
 * -------------------------------------------------------- */
a {
  color: #2361a1;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a.external-link {
  background: url(../images/temp/icon-external.png) no-repeat 100% 1px;
  padding-right: 12px;
}
/* --------------------------------------------------------
 * Lists
 * -------------------------------------------------------- */
ul {
  list-style-position: inside;
  margin-bottom: 18px;
}
ul li {
  line-height: 18px;
}
ol {
  list-style-position: inside;
  margin-bottom: 15px;
}
ol li {
  line-height: 18px;
}
/* --------------------------------------------------------
 * Paragraphs
 * -------------------------------------------------------- */
p {
  color: #333;
  line-height: 18px;
  margin-bottom: 18px;
}
/* --------------------------------------------------------
 * Headings
 * -------------------------------------------------------- */
h1, h1 a {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 18px;
}
h2, h2 a {
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 12px;
}
h3, h3 a {
  color: #333;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 12px;
}
h4, h4 a {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}
/* --------------------------------------------------------
 *  Navigation:
 * -------------------------------------------------------- */
.nav-primary {
  background: #999;
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav-primary ul {
  float: right;
  margin: 0;
}
.nav-primary li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  margin-right: 2px;
}
.nav-primary a {
  cursor: pointer;
  background: #c2c2c2;
  color: #333;
  display: block;
  float: left;
  padding: 7px 10px;
  text-decoration: none;
}
.nav-primary a:hover,
.nav-primary a.current,
.nav-primary a.section,
.nav-primary a.current:hover,
.nav-primary a.section:hover {
  background: #fff;
  color: #2361A1;
}
.branding a {
  left: 19px;
  position: absolute;
  top: 37px;
  display: block;
  background: url(../images/temp/logo.png) no-repeat 0 0;
  width: 157px;
  height: 49px;
}
.branding h1 {
  margin: 0;
}
.branding span {
  position: absolute;
  left: -9999em;
}
/* --------------------------------------------------------
 * Breadcrumbs
 * -------------------------------------------------------- */
.bdc {
  color: #b7c0c5;
  font-size: 0.9em;
  margin: 0px 5px 10px 0;
  text-align: left;
}
.bdc p {
  margin: 0;
}
/* --------------------------------------------------------
 * Typography - This goes where a CMS block is output.
 * These styles are specific to CMS
 * -------------------------------------------------------- */
/* --------------------------------------------------------
 * Listing
 * -------------------------------------------------------- */
.lst {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lst li {
  border-bottom: 1px solid #999;
  margin-bottom: 25px;
}
.lst li.last {
  border-bottom: none;
}
.lst .lst-more-wrap {
  margin-top: -10px;
  position: relative;
}
/* --------------------------------------------------------
 * Buttons
 * -------------------------------------------------------- */
.btn {
  /*  Default */

  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  /* Variations */

}
.btn:hover {
  color: #fff;
}
.btn.btn-red {
  background: #990000;
}
.btn.btn-red:hover {
  color: #000;
}
.btn.btn-green {
  background: #3a6b01;
}
.btn.btn-green:hover {
  color: #000;
}
.btn.btn-blue {
  background: #1a4a89;
}
.btn.btn-blue:hover {
  color: #000;
}
.btn.btn-shadow {
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85) 10px 5px #cccccc;
}
/* --------------------------------------------------------
 * Tables
 * -------------------------------------------------------- */
table {
  margin: 0 0 18px 0;
  color: #666;
  border-collapse: collapse;
}
td {
  border: 1px solid #999;
  padding: 5px;
}
@media all and (orientation: portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation: landscape) {
  /* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
@media screen and (max-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
}
/* --------------------------------------------------------
 * Print
 * -------------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
/*** Custom Print ***/