 /* --------------------------------------------------------
 * Module: Breadcrumbs
 * -------------------------------------------------------- */
.bdc {
	color: #b7c0c5;
	font-size: 0.9em;
	margin: 0px 5px 10px 0;
	text-align: left;
	p {
		margin: 0;
	}
}

 /* --------------------------------------------------------
 * Module: Typography - This goes where a CMS block is output.
 * These styles are specific to CMS
 * -------------------------------------------------------- */
 .typ {

 }

 /* --------------------------------------------------------
 * Module: Button
 * -------------------------------------------------------- */
.btn {
	/*  Default */
	color: #fff;
	text-decoration: none;
	.css3_border_radius(5px);
	padding: 5px 8px;
	&:hover {
		color: #fff;
	}
	/* Variations */
	&.btn-red {
		background: #990000;
		&:hover {
			color: #000;
		}
	}
	&.btn-green {
		background: #3a6b01;
		&:hover {
			color: #000;
		}
	}
	&.btn-blue {
		background: #1a4a89;
		&:hover {
			color: #000;
		}
	}
	&.btn-shadow {
		.css3_box_shadow(0px 0px 2px rgba(0, 0, 0, .85))
	}
}